/*.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #d4cdcd;*
  height: 15px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

body {
  padding-bottom: 80px;
}
form {

  border: 3px solid #ccc;
  padding: 0 20px 25px 20px;
  border-radius: 0px;
}
input[type=checkbox],
input[type=radio] {
  margin-right: 8px;
}
.university-form.capitalize {
  text-transform: capitalize;
}
.checkbox-group, .address_items, .tuitions_items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.address_items, .tuitions_items {
  width: 80%;
  margin-left: 30px;
}
.checkbox-group .university-form {
  width: 50%;
}
input[type=submit],
.btn-link {
  margin-top: 20px;
}

.navbar-right{
  margin-top: -22px;
  display: -webkit-box;
  float: right!important;
}
.navbar-left{
  margin-top: -22px;
  float: left !important
}
.nav>li>a{
  color:white ! important;
  textDecoration: none;
  color: white;
}
.centered{
  width: 80%;
}
.sidebar-toggle {
  height: 30px;
}


.infoLeft{
  float: left;
  padding: 7px;
  border-right: 1px dashed #333;
}
.infoRight{
  float: right;
}
/**************CARDITEM********************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: 'hidden';
}

.card-item {
  background-color: #EFEFEF;
  border-left: 2px solid #D5D5D5;
  margin-bottom: 5px;
  position: relative;
  width: auto;
}
.card-item .card-color {
  float: left;
}
.card-item .card-color.blue {
  border-left: 4px solid #0099FF;
}
.card-item .card-color.purple {
  border-left: 4px solid #CE04D9;
}
.card-item .card-color.red {
  border-left: 4px solid #EB4463;
}
.card-item .card-color.yellow {
  border-left: 4px solid #FFEA00;
}
.card-item .card-info {
  float: left;
  padding: 10px;
}
.card-item .card-name {
  font-size: 1em;
}
.card-item .card-desc {
  color: #AAAAAA;
  font-size: 0.8em;
  margin-top: 3px;
}
.card-item .languages {
  background-color: #EDEDED;
  color: #AAAAAA;
  cursor: pointer;
  font-size: 0.7em;
  padding: 3px;
  position: absolute;
  right: 0;
  top: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.card-item .languages:hover {
  background-color: #888888;
  color: #FFFFFF;
}

.clear {
  clear: both;
}

.form-container input {
  border: 1px solid #AAAAAA;
  font-size: 1em;
  margin-right: 5px;
  margin-top: 10px;
  padding: 5px;
}
.form-container button {
  background-color: #55ACEE;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  padding: 6px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.btnNewUniversity{
  float: right;
}
